@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Oswald", sans-serif;
}

.fondoLogo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 3.125rem;
    height: 3.125rem;
}

.presentacion img {
    width: 100% !important;
    height: 600px !important;
    object-fit: cover !important;
}